<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>AddBook</servlet-name>
        <servlet-class>servlets.AddBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBook</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoveBook</servlet-name>
        <servlet-class>servlets.RemoveBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveBook</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewBooks</servlet-name>
        <servlet-class>servlets.ViewBooksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewBooks</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
</web-app>
